@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

html,
body {
  background-color: #211F2B;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

h1,
h2 {
  margin: 0;
}

h1 {
  color: white;
  font-size: 30px;
  font-weight: 500;
  margin-top: 10px;
}

h2 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}

form {
  margin: 0;
  padding: 0;
  width: 100%;
}

.divider {
  width: 100px;
  height: 3px;
  margin: 20px auto;
  background-color: #617BFF;
}

input,
textarea {
  position: relative;
  text-align: center;
  display: block;
  margin: 0;
  border-radius: 7px;
  border: 2px white solid;
  background-color: white;
  padding: 10px 20px;
  width: 100%;
  color: #1E1C29;
  margin-bottom: 20px;
  box-sizing: border-box;
  transition: all 0.2s;
}

input:focus,
textarea:focus {
  outline: none;
  border: 2px #617BFF solid;
}

.container {
  background-color: rgba(255, 255, 255, 0.1);
  width: 300px;
  margin: 0 auto;
  border-radius: 14px;
  padding: 30px 30px 20px 30px;
  margin-top: 50px;
  padding: 5%;
}

input[name="amount"] {
  font-size: 20px;
  font-weight: 600;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn {
    border-radius: 5px;
    border: none;
    border: 2px rgb(95, 121, 250) solid;
    background-color: rgb(95, 121, 250);
    padding: 10px;
    color: white;
    transition: 0.5s;
}

.btn:hover {
  border: 2px #8095FF solid;
  background-color: #8095FF;
  cursor: pointer;
}

.btn:active {
  border: 2px #4863EC solid;
  background-color: #4863EC;
  cursor: pointer;
}

#btn-logout {
  margin-left: 90%;
}

#user-balance {
  font-size: 24px;
  color: white;
  font-weight: 600;
  margin: 20px 0;
}

#user-address {
  font-size: 18px;
  color: white;
  font-weight: 500;
  margin: 0 auto;
  word-break: break-word;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  max-width: 230px;
  background: rgba(255,255,255,0.05);
  padding: 10px 20px;
  border-radius: 7px;
}

.header {
    width: 100%;
    padding: 5% 0%;
    line-height: 2;
    background: linear-gradient(90deg, #690CB0 5%, #6F18B3 40%, rgba(255, 255, 255, 0) 90%, #9A6EBC 110%), #7C36B3;
}

#messages {
    padding: 5%;
    width: 90%;
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;
    overflow: auto;
}

#enter {
    position: absolute;
    position: fixed;
    display: flex;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
}

#input {
    color: grey;
    width: 90%;
    padding: 10px;
    border: 0;
    outline: 0;
    border-bottom: 2px solid black;
    margin-right: 10px;
}

#enter button {
    margin-left: 20px;
}

#message {
    width: 98%;
    padding: 10px;
    border: 0;
    outline: 0;
    color: white;
}

#message:hover {
    background-color: rgb(236, 234, 234);
    color: black;
}