@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

html,
body {
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

h1,
h2 {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1 {
  color: white;
  font-size: 30px;
  font-weight: 500;
  margin-top: 10px;
}

h2 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}

form {
  margin: 0;
  padding: 0;
  width: 100%;
}

.divider {
  width: 100px;
  height: 3px;
  margin: 20px auto;
  background-color: #617BFF;
}

input:focus,
textarea:focus {
  outline: none;
  border: 2px #617BFF solid;
}

.container {
  background-color: black;
  width: 300px;
  margin: 0 auto;
  border-radius: 14px;
  padding: 30px 30px 20px 30px;
  margin-top: 50px;
  padding: 5%;
}

input[name="amount"] {
  font-size: 20px;
  font-weight: 600;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn {
    border-radius: 5px;
    border: none;
    border: 2px rgb(95, 121, 250) solid;
    background-color: rgb(95, 121, 250);
    padding: 10px;
    color: white;
    transition: 0.5s;
}

#logged-in {
  height: 100%;
}

.btn:hover {
  border: 2px #8095FF solid;
  background-color: #8095FF;
  cursor: pointer;
}

.btn:active {
  border: 2px #4863EC solid;
  background-color: #4863EC;
  cursor: pointer;
}

#btn-logout {
  position: relative;
  right: 0;
}

#user-balance {
  font-size: 24px;
  color: white;
  font-weight: 600;
  margin: 20px 0;
}

#user-address {
  font-size: 18px;
  color: white;
  font-weight: 500;
  margin: 0 auto;
  word-break: break-word;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  max-width: 230px;
  background: rgba(255,255,255,0.05);
  padding: 10px 20px;
  border-radius: 7px;
}

.menu {
  font-size: 30px;
  font-weight: 600;
  text-align: left;
  margin-left: 10px;
  max-width: 40px;
  cursor: pointer;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(189, 189, 189);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  color: black;
  font-size: 25px;
  margin-bottom: 20px;
}

.sidenav a:hover {
  color: grey;
  transition: 0.5s;
}

#closeNav {
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.header {
    width: 100%;
    padding: 2% 0%;
    line-height: 1.5;
    background-image: linear-gradient(to bottom right, rgb(0, 119, 255), rgb(95, 178, 255));
}

#messages {
    position: fixed;
    padding: 5%;
    height: 40%;
    width: 85%;
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;
    overflow: auto;
}

.sender {
  float: left;
}

.receiver {
  float: right;
}

#enter {
    position: absolute;
    position: fixed;
    bottom: 0;
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
}

#addContact {
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
}

#messageInput, #nameInput {
    color: grey;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    outline: 0;
    margin-right: 10px;
}

#enter button {
    margin-left: 20px;
    padding: none;
}

#message {
    background-color: #4863EC;
    padding: 10px;
    border: 0;
    outline: 0;
    color: white;
}

.time {
    font-size: 15px;
    color: grey;
    margin-top: 10px;
}

#message:hover {
    background-color: rgb(120, 122, 253);
    transition: 0.5s;
}

.contact {
  cursor: pointer;
  margin-bottom: 5px;
  width: 46%;
  float: left;
  padding: 20px;
  text-align: center;
  background-color: rgb(160, 160, 255);
  border: none;
  border-radius: 5px;
  font-size: 30px;
}

.contact:hover {
  background-color: rgb(180, 214, 253);
  transition: 0.5s;
}

.contact:nth-child(2n) {
  float: right;
}

#contacts {
  margin-top: 10px;
}