@import '~bootstrap/scss/bootstrap';
@import 'normalize.css';

$primary-color: #211f2b;
$highlight-color: #8095FF;
$highlight-color2:#4863EC;

html,
body {
  background-color: #211f2b;
  font-family: "Ubuntu", sans-serif;
  min-height: 100%;
  width: 100%;
}

#root {
  height: 100%;
}


